html {
    /* Dependency */
    --reach-checkbox: 1;
}
/**

    CONTENTS
    --------

    1) Reset
    2) Core
    3) Components
    4) Layout helpers
    5) Print

**/

/* 1) */
.rp-row-picker-loading {
}

.rp-outer {
    position: relative;
    color: var(--color);
    width: 100%;
}

.rp-outer *,
.rp-outer *::before,
.rp-outer *::after {
    box-sizing: border-box;
    color: currentColor;
}

.rp-outer * {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* TODO */
html[dir='rtl'] .rp-outer p,
html[dir='rtl'] .rp-outer h1 {
    opacity: 1;
    letter-spacing: 0;
    line-height: 1.6;
}

.rp-outer button {
    appearance: none;
    border: none;
    outline: var(--rp-border-width) solid var(--border-color);
    background-color: var(--bg);
    color: var(--color);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.rp-outer button[disabled] {
    cursor: not-allowed;
    /* cursor: no-drop; */
    opacity: var(--disabled-opacity);
}
.rp-outer button:hover {
    background: var(--bg-hover);
}

.rp-outer button:focus {
    background: var(--bg-focus);
}

::-webkit-selection {
    background-color: var(--white-200);
}

::-moz-selection {
    background-color: var(--white-200);
}

::selection {
    background-color: var(--white-200);
}

/* 2) */

.rp-root {
    position: relative;
    text-size-adjust: 100%;
    background-color: var(--bg);
    width: 100%;
}

.rp-header,
.rp-body {
    width: 100%;
}

.rp-row {
    width: 100%;
    height: var(--rp-min-height);
    display: flex;
    border: var(--rp-border-width) solid var(--border-color);
    border-bottom: none;
    border-left: none;
    position: relative;
}

/* If no footer last body > row needs border-bottom */
.rp-body .rp-row:last-of-type,
.rp-body .rp-row:only-of-type {
    border-bottom: var(--rp-border-width) solid var(--border-color);
}
/* No results */

.rp-row > *:only-child {
    padding-left: var(--rp-padding-min);
    /* padding-inline-start: var(--rp-padding-min); */
    line-height: var(--rp-min-height);
}

/* header row */
.rp-row:only-of-type {
    border-bottom: none;
}
.rp-body .rp-row:only-child {
    border-bottom: none;
}

.rp-rowDisabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: not-allowed;
}
.rp-rowDisabled .rp-lock {
    position: absolute;
    left: 1.1em;
    top: 0.8em;
    z-index: var(--z-max);
}

/* Cell */

.rp-cell {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 0;
    border-right: var(--rp-border-width) solid var(--border-color);
    background-color: var(--bg-light);
}
.rp-body .rp-cell {
    padding: 0 var(--rp-padding-min);
}
.rp-cell span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rp-cell:last-of-type {
    border-right: none !important;
}
.rp-header .rp-cell span {
    background-color: transparent !important;
}
.rp-header .rp-cell:first-of-type,
.rp-body .rp-cell:first-of-type {
    width: 80px;
    flex-grow: 0 !important;
}
.rp-body .rp-cell {
    padding: var(--rp-padding-min);
}
.rp-body .rp-rowSelected .rp-cell {
    background-color: var(--bg-hover) !important;
}
.rp-cell-number {
    font-variant-numeric: tabular-nums;
}

/* onHover row */
.rp-zebra,
.rp-zebra .rp-cell,
.rp-zebra button {
    background-color: var(--bg-hover);
}

/*
    Checkbox column
*/

.rp-sticky {
    position: sticky;
    left: 0;
    z-index: var(--z-max);
    background-color: var(--bg-focus);
    box-shadow: var(--shadow-000);
    flex-grow: 0;
    border-left: 1px solid;
}

.rp-header .rp-cell:first-of-type > div,
.rp-body .rp-cell:first-of-type > div {
    width: fit-content;
}
/*
    Toolbar of PopOvers
*/

.rp-toolbar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    gap: var(--rp-border-width);
    min-height: var(--rp-min-height);
    min-block-size: var(--rp-min-height);
    /* Account for outline width*/
    transform: translateX(var(--rp-border-width)) translateY(calc(var(--rp-border-width) * -2));
    z-index: var(--z-popover);
}
.rp-toolbar > .rp-popover {
    width: fit-content;
}
.toolbar > .rp-popover:first-of-type button {
    min-width: 120px;
}

.rp-popContent {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(calc(60px + var(--rp-border-width))) translateY(calc(var(--rp-border-width) + 54px)) !important;
    z-index: var(--z-popover);
    padding: var(--rp-padding);
    box-shadow: var(--shadow-000);
    border: var(--rp-border-width) solid var(--border-color);
    background-color: var(--bg);
}

.rp-popButton {
    padding: 0 var(--rp-padding-min);
    /* padding-inline: 0 var(--rp-padding-min); */
    min-height: var(--rp-min-height);
    min-block-size: var(--rp-min-height);
}
.rp-popButtonIcon {
    justify-content: center !important;
    min-width: 60px;
}
.rp-popover .rp-popButtonIcon:focus {
    background: var(--bg-focus) !important;
}

/* .overlay-fixed {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.transparent {
    display: none;
} */

/* Expandable cell popover */
.rp-expandable {
    outline: none !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--transparent) !important;
}
.rp-expandable:hover,
.rp-expandable:focus {
    background-color: var(--transparent) !important;
}
.rp-expandable:focus-visible {
    outline: var(--rp-border-width) solid var(--accent) !important;
}
.rp-zebra .rp-expandable:focus {
    background-color: var(--transparent) !important;
}
.rp-iconStable,
.rp-expandable svg {
    display: inline-flex;
    flex-shrink: 0;
}

.rp-buttonIcon {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center !important;
}

/* 3) */

.rp-checkbox [data-reach-custom-checkbox-container] {
    display: inline-flex;
    position: relative;
    cursor: default;
    width: 2em;
    height: 2em;
    outline: var(--rp-border-width) solid var(--color);
    cursor: pointer;
}

.rp-checkbox [data-reach-custom-checkbox-container]:focus-within,
.rp-checkbox [data-reach-custom-checkbox-container][data-focus] {
    outline-color: var(--accent);
    border-radius: 0 !important;
}

.rp-checkbox [data-reach-custom-checkbox-input] {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    z-index: 1 !important;
    cursor: inherit;
    box-shadow: none !important;
    outline: none;
}

.rp-checkbox [data-reach-custom-checkbox][data-state='checked'] {
}
.rp-checkbox [data-reach-custom-checkbox][data-state='unchecked'] {
}
.rp-checkbox [data-reach-custom-checkbox][data-state='mixed'] {
}

.rp-checkbox label {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
}

.rp-checkbox svg {
    position: absolute;
    transform: translate(4px, 4px);
    z-index: var(--z-max);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rp-checkbox > label + div {
    transform: translateY(6px);
}

.rp-field {
    appearance: none;
    margin: 0;
    border-radius: 0;
    color: inherit;
    caret-color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    display: flex;
    width: 100%;
    height: calc(var(--rp-min-height) - var(--rp-border-width) * 6);
    padding: var(--rp-padding-min);
    background-color: var(--transparent);
    border: none;
    outline: var(--rp-border-width) solid var(--border-color);
}

.rp-field:focus,
.rp-field:active {
    outline: var(--rp-border-width) solid var(--accent);
    border-radius: 0 !important;
    outline-color: transparent !important;
    background-color: var(--bg-focus);
    color: var(--color-focus);
}

.rp-field::-webkit-autofill {
    box-shadow: var(--shadow-000);
}

.rp-field::-webkit-input-placeholder {
    color: var(--gray-200);
}
.rp-field::-ms-input-placeholder {
    color: var(--gray-200);
}

.rp-editable {
    background-color: transparent;
    border-color: var(--transparent) !important;
    outline: none;
    flex-grow: 1;
}

.rp-editable:hover {
    cursor: pointer;
}

@media (orientation: portrait) {
    .rp-field {
        font-size: 16px !important;
    }
}

.rp-buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
}
.rp-popover {
    width: 100%;
}

.rp-panel {
    position: absolute;
    transform: translateX(60px);
    max-width: 90%;
}
.rp-popover button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rp-select {
    --menu-tappable-offset: calc(var(--rp-min-height) - var(--border-width));
    position: relative;
    height: 100%;
}

.rp-select:focus {
    outline: none;
}

.rp-focused .rp-menu {
    opacity: 1;
    width: 100%;
    transform: scaleX(1) scaleY(1);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 100ms;
}

.rp-select,
.rp-select .rp-button,
.rp-menu,
.rp-menuItems,
.rp-select [role='menuitem'] {
    width: 100%;
}

.rp-menu {
    opacity: 0;
    position: absolute;
    top: calc(var(--menu-tappable-offset) + var(--rp-border-width));
    transform: scaleX(0) scaleY(0);
    z-index: var(--z-select);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 75ms;
    transform-origin: top;
    width: 100%;
    box-shadow: var(--shadow-000);
    border-bottom: var(--rp-border-width) solid var(--border-color);
}

.rp-menu,
.rp-menuItems {
    display: flex;
    flex-direction: column;
}

.rp-select .rp-button {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-size: 83%;
    padding: 0 var(--rp-padding-min);
    /* padding-inline: 0 var(--rp-padding-min); */
    background-color: var(--bg);
    color: var(--color);
    outline: none !important;
}

.rp-menuItems .rp-button {
    text-transform: capitalize;
    font-size: 95%;
}
.rp-select .rp-button:focus,
.rp-select .rp-button:hover {
    outline: none;
    z-index: 1;
}

.rp-select .rp-button:hover {
    background-color: var(--bg-hover);
    color: var(--color);
}
.rp-select .rp-button:focus {
    background-color: var(--bg-focus);
    color: var(--color);
}

.rp-select .rp-button.action {
    background-color: var(--bg);
    color: var(--color);
    height: var(--rp-min-height);
}

.rp-select .rp-button.action:hover {
    background-color: var(--bg-hover);
    color: var(--color);
}
.rp-select .rp-button.action:focus {
    background-color: var(--bg-focus);
    color: var(--color);
}

.rp-selectIcon {
    margin-left: auto;
    display: flex;
}

.rp-select.rp-focused .rp-pushLeft svg {
    fill: var(--color);
}

*[dir='rtl'] .rp-selectIcon {
    margin: none;
    order: -1 !important;
}

.rp-switch {
    display: flex;
    justify-content: flex-end;
}

.rp-switch-on {
    filter: brightness(2);
}

.rp-switch button {
    display: flex;
    border: none;
    color: inherit;
    background: none;
    font: inherit;
    line-height: inherit;
    min-height: 30px;
    min-block-size: 30px;
    width: 60px;
    position: relative;
    outline: none !important;
}

.rp-switch button:focus,
.rp-switch button:hover {
    outline: none;
    background-color: transparent !important;
}

.rp-switch button:hover::before {
    box-shadow: var(--shadow-000);
}
.rp-switch button:focus::before {
    background: var(--white-200);
    border-color: var(--white-200);
    /* filter: brightness(3); */
    box-shadow: var(--shadow-000);
}
.rp-switch button:focus::after {
    border-color: var(--white-200);
    /* filter: brightness(3); */
}

.rp-switch button::before,
.rp-switch button::after {
    content: '';
    position: absolute;
    min-height: 30px;
    min-block-size: 30px;
    transition: all 0.25s ease;
    left: auto;
    right: 0;
}

.rp-switch button::before {
    left: 0;
    top: 10px;
    width: 100%;
    border: 0.2em solid var(--color);
    min-height: 10px;
    min-block-size: 10px;
    background: var(--color);
    border-radius: 1.1em;
}

.rp-switch button::after {
    left: 0;
    top: 0;
    background-color: var(--bg);
    background-position: center center;
    border-radius: 50%;
    width: 30px;
    border: 0.15em solid var(--color);
    left: auto;
    right: 30px;
}

.rp-switch button[aria-pressed='true']::after {
    left: 30px;
    right: 0;
    border-color: var(--accent);
}

.rp-switch button[aria-pressed='true']::before {
    background-color: var(--accent);
    border-color: var(--accent);
}

.rp-switch button[disabled]::before {
    background-color: transparent;
}

.rp-switch button[disabled]:hover::before {
    box-shadow: none;
}

.rp-switchIcon {
    position: absolute;
    z-index: 3;
    top: 0.4em;
}
.rp-switchIconOn {
    transform: rotate(180deg);
}

[aria-pressed='true'] .rp-switchIcon {
    left: 2.1em;
    stroke: var(--accent);
}
[aria-pressed='false'] .rp-switchIcon {
    left: 0.3em;
}

@media screen and (-ms-high-contrast: active) {
    .rp-switch [aria-pressed]:focus::before,
    .rp-switch [aria-pressed]:hover::before {
        outline: 1px dotted windowText;
        outline-offset: 0.25em;
    }
    .rp-switch [aria-pressed]::after {
        background-color: windowText;
    }
    .rp-switch [aria-pressed][disabled]::after {
        background-color: transparent;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .rp-switch [aria-pressed]::before,
    .rp-switch [aria-pressed]::after {
        transition: none;
    }
}

/* 4) */

.rp-rowGap,
.rp-colGap {
    display: flex;
    gap: 1em;
}

.rp-rowGapGrid {
    flex-wrap: wrap;
}
.rp-colGap {
    flex-direction: column;
}

.rp-pushTop {
    margin-top: auto;
    display: flex;
}
.rp-pushLeft {
    margin-left: auto;
    display: flex;
}

.rp-space-b {
    margin-bottom: var(--space-000);
}

.rp-offscreen {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* 5) */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line {
        background: transparent !important;
        color: #000;
        box-shadow: none !important;
        text-shadow: none !important;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    body > *:not(#app) {
        display: none;
    }

    body {
        font-size: 8pt;
    }
}
